.main_page_wrapper {
    margin-top: 200px;
}
.add_to_card_wrapper {
    background-color: #084d8c;
    border: 1px solid #084d8c;
    color: #fff;
    padding: 7px 25px ;
    transition: all ease .3s;
    border-radius: 4px ;
    font-size: 13px ;
    font-weight: 500 ;
    width: 152px;
    margin: 0 auto;
}
.btn_add_to {
    background-color: transparent;
    color: #fff;
    border:none;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}