.main-container-add-product {
  min-height: 100vh;
  background-color: #f3f4f6;
  display: flex;
}
.product-form {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.add-pro-input {
  border: 1px solid var(--border-color);
  color: var(--text);
  padding: 12px 16px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
  margin-bottom: 1rem;
}
.add-pro-input:focus {
  border-color: var(--link);
  background: transparent;
  background-color: transparent;
}

.pro-submit-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--link);
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid var(--link);
  transition:ease-in-out 0.2s;
}

.pro-submit-button:hover {
  background-color: var(--white);
  color: var(--link);
}
.edit-product-container .sidebar {
  height: 100%;
}
.pro-label {
  font-size: 0.9rem;
}
@media screen and (max-width: 575px) {
  .product-form {
    margin: 100px auto 40px;
  }
}
