
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
.heddings {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-h);
  margin-bottom: 20px;
}
:root {
  --bg:#eee;
  --surface: #161616;
  --card: #1c1c1c;
  --border: #2a2a2a;
  --accent: #e8c96d;
  --accentDim: #b89a45;
  --text: #333;
  --muted: #7a7570;
  --danger: #e05c5c;
  --text-h:#000;
  --link:#084d8c;
  --border-color:#e9ecef;
  --white:#fff;
}

.product-card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  transition:
    transform 0.2s,
    border-color 0.2s;
}

.mian_container {
  max-width: 1200px;
  margin: 0 auto;
}
.admin_outer {
  width: 100%;
}